In [435]:
import pandas as pd
import numpy as np
from scipy.stats import spearmanr
from scipy.stats import pearsonr
def mard(df, c1, c2):
    a = abs(df[c1]-df[c2])/(df[c1]+df[c2])
    return a.sum()/a.count()

# Loading Reference name to Taxa Id file

In [4]:
ref = "/mnt/scratch2/avi/meta-map/kraken/KrakenDB/seqid2taxid.map"
with open(ref) as f:
    refId2TaxId = pd.read_csv(f, header=None, sep="\t", names=["refName", "refId"])

In [420]:
refId2TaxId[refId2TaxId.refId == 964]

Empty DataFrame
Columns: [refName, refId]
Index: []

In [416]:
refId2TaxId[refId2TaxId.refName == 'gi|330822653|ref|NC_015422.1']

Empty DataFrame
Columns: [refName, refId]
Index: []

# Loading Taxonomy Tree
### Taxum ID , Taxum Rank , Taxum Parent ID

In [31]:
tf = "/mnt/scratch2/avi/meta-map/kraken/KrakenDB/taxonomy/nodes.dmp"
taxa = []
id2rank = {}
with open(tf) as f:
    for line in f:
        toks = line.rstrip("\t|\n").split("\t|\t")
        taxa += [[int(toks[0]), int(toks[1]), toks[2]]]
        id2rank[int(toks[0])] = toks[2]
taxa_df = pd.DataFrame.from_records(taxa)
taxa_df.columns = ["taxaId", "pid", "rank"]

In [32]:
taxa_df.head()

   taxaId     pid          rank
0       1       1       no rank
1       2  131567  superkingdom
2       6  335928         genus
3       7       6       species
4       9   32199       species

In [421]:
a = taxa_df[taxa_df.taxaId == 964]
a

     taxaId  pid     rank
742     964  963  species

# List of Leaves

Right join of **pid** and **cid** (parent and child)
And then looking for any child that has never been a parent : with parent = **nan**

In [74]:
leaves = pd.merge(taxa_df[['pid']], taxa_df[['taxaId', 'rank']], left_on='pid', right_on='taxaId', how='right')

In [75]:
leaves = leaves[np.isnan(leaves['pid'])][['taxaId', 'rank']]
print(len(leaves))
leaves.head()

1528122

         taxaId     rank
1669515      25  species
1669516      27  species
1669517      28  species
1669518      38  species
1669519      45  species

# List of Roots
Left join of **pid** and **cid** (parent and child) And then looking for any parent that is never a child : child = **nan** parent

In [81]:
roots = pd.merge(taxa_df[['pid', 'rank']], taxa_df[['taxaId', 'pid']], left_on='pid', right_on='taxaId', how='left')
#roots = roots[np.isnan(roots['taxaId'])][['pid', 'rank']]
roots[roots['taxaId'] == roots['pid_y']]

        pid_x          rank  taxaId  pid_y
0           1       no rank       1      1
8284        1  superkingdom       1      1
9909        1  superkingdom       1      1
9931        1       no rank       1      1
12110       1       no rank       1      1
101269      1       no rank       1      1

In [78]:
c2p = {}
c2pid = {}
with open(tf) as f:
    for line in f:
        toks = line.rstrip("\t|\n").split("\t|\t")
        c2pid[int(toks[0])] = int(toks[1])
        if id2rank[int(toks[0])] not in c2p:
            c2p[id2rank[int(toks[0])]] = set()
        c2p[id2rank[int(toks[0])]].add(id2rank[int(toks[1])])

# Child -> Parent

In [24]:
for key, value in c2p.items():
    print ('{} --> parent list:'.format(key))
    print(value)
    print('\n')

no rank --> parent list:
{'genus', 'no rank', 'superorder', 'species subgroup', 'superclass', 'infraorder', 'superfamily', 'tribe', 'superkingdom', 'parvorder', 'subtribe', 'suborder', 'cohort', 'subspecies', 'species', 'phylum', 'infraclass', 'order', 'varietas', 'subphylum', 'subfamily', 'subclass', 'family', 'subkingdom', 'class', 'forma', 'species group', 'subgenus', 'kingdom'}


superkingdom --> parent list:
{'no rank'}


genus --> parent list:
{'no rank', 'suborder', 'family', 'class', 'phylum', 'infraclass', 'order', 'superkingdom', 'subtribe', 'superfamily', 'tribe', 'subfamily', 'subphylum', 'subclass'}


species --> parent list:
{'genus', 'no rank', 'suborder', 'family', 'class', 'species', 'phylum', 'species subgroup', 'species group', 'order', 'subgenus', 'superfamily', 'tribe', 'subfamily', 'subclass'}


order --> parent list:
{'no rank', 'superorder', 'cohort', 'class', 'phylum', 'infraclass', 'subphylum', 'superkingdom', 'subclass'}


family --> parent list:
{'no rank', 'superorder', 'suborder', 'parvorder', 'class', 'phylum', 'order', 'infraorder', 'superfamily', 'superkingdom', 'subphylum', 'subclass'}


subspecies --> parent list:
{'subgenus', 'genus', 'species', 'no rank'}


subfamily --> parent list:
{'no rank', 'suborder', 'family', 'order', 'superfamily'}


tribe --> parent list:
{'family', 'subfamily', 'no rank'}


phylum --> parent list:
{'superphylum', 'no rank', 'subkingdom', 'superkingdom', 'kingdom'}


class --> parent list:
{'no rank', 'phylum', 'superclass', 'subphylum', 'superkingdom'}


forma --> parent list:
{'varietas', 'genus', 'species', 'subspecies'}


suborder --> parent list:
{'no rank', 'superorder', 'class', 'phylum', 'order'}


subclass --> parent list:
{'class', 'no rank', 'phylum'}


varietas --> parent list:
{'genus', 'species', 'subspecies'}


kingdom --> parent list:
{'superkingdom', 'no rank'}


subphylum --> parent list:
{'no rank', 'phylum'}


superfamily --> parent list:
{'no rank', 'suborder', 'class', 'order', 'infraorder', 'superfamily', 'parvorder', 'subclass'}


infraorder --> parent list:
{'suborder', 'order', 'no rank'}


infraclass --> parent list:
{'no rank', 'subclass'}


superorder --> parent list:
{'no rank', 'cohort', 'class', 'infraclass', 'subclass'}


subgenus --> parent list:
{'genus', 'no rank', 'family', 'tribe', 'subfamily'}


superclass --> parent list:
{'no rank'}


parvorder --> parent list:
{'infraorder', 'no rank'}


superphylum --> parent list:
{'no rank', 'kingdom'}


species group --> parent list:
{'subgenus', 'family', 'genus', 'no rank'}


species subgroup --> parent list:
{'species group', 'genus'}


cohort --> parent list:
{'infraclass'}


subtribe --> parent list:
{'family', 'tribe', 'subfamily', 'no rank'}


subkingdom --> parent list:
{'kingdom'}

# ranks

In [12]:
print(len(taxa_df['rank'].unique()))
taxa_df['rank'].unique()

30

array(['no rank', 'superkingdom', 'genus', 'species', 'order', 'family',
       'subspecies', 'subfamily', 'tribe', 'phylum', 'class', 'forma',
       'suborder', 'subclass', 'varietas', 'kingdom', 'subphylum',
       'superfamily', 'infraorder', 'infraclass', 'superorder', 'subgenus',
       'superclass', 'parvorder', 'superphylum', 'species group',
       'species subgroup', 'cohort', 'subtribe', 'subkingdom'], dtype=object)

# Both Parent and Child at the same time in the reference list? 
## yes!

In [87]:
ref2taxaLevel = pd.merge(refId2TaxId, taxa_df, left_on="refId", right_on="taxaId")
print(len(refId2TaxId))
print(len(ref2taxaLevel))
ref2taxaLevel.head()

4815
4815

                        refName    refId   taxaId    pid     rank
0   gi|9791176|ref|NC_002180.1|  1986029  1986029  40274  species
1  gi|10803547|ref|NC_001869.1|    64091    64091   2242  no rank
2  gi|15789340|ref|NC_002607.1|    64091    64091   2242  no rank
3  gi|16119979|ref|NC_002608.1|    64091    64091   2242  no rank
4  gi|10954488|ref|NC_001732.1|   243232   243232   2190  no rank

In [149]:
ref2taxaLevel[ref2taxaLevel['taxaId'] == 680]

Empty DataFrame
Columns: [refName, refId, taxaId, pid, rank]
Index: []

In [27]:
a = set()
for t in ref2taxaLevel.taxaId:
    a.add(t)

In [29]:
b = set()
for t in ref2taxaLevel.taxaId:
    b.add(c2pid[t])

List of reference taxa that are parents of some children in the same list

In [30]:
a.intersection(b)

{316,
 340,
 813,
 1148,
 1604,
 1639,
 2110,
 29447,
 40041,
 91891,
 107806,
 190650,
 192222,
 196627,
 208964,
 523796,
 543891,
 869727,
 907287,
 941967,
 1001534,
 1071763,
 1263406,
 1283330,
 1306414}

# Reference Rank Distribution
### Note: Not all the "no rank"s are the same!!

In [42]:
ref2taxaLevel.groupby('rank').count()

            refName  refId  taxaId
rank
no rank        4336   4336    4336
species         465    465     465
subspecies       14     14      14

# Analysis of the truth

In [100]:
truthfile = '/mnt/scratch2/avi/meta-map/kraken/meta/truth.txt'
truth = pd.read_csv(truthfile, sep="\t")

In [101]:
truth.head()

    taxid  counts                      species     size          dataset
0   79329   24666        Chitinophaga pinensis  9127347  Huttenhower_HC1
1    1836   22195  Saccharopolyspora erythraea  8079083  Huttenhower_HC1
2  152480   20654       Burkholderia ambifaria  8095900  Huttenhower_HC1
3  182640   20483            Kribbella flavida  7579488  Huttenhower_HC1
4   80866   18289          Delftia acidovorans  6823175  Huttenhower_HC1

In [102]:
truth = pd.merge(truth, taxa_df, left_on='taxid', right_on='taxaId')
truth.head()

,taxid,counts,species,size,dataset,taxaId,pid,rank
0,79329,24666,Chitinophaga pinensis,9127347,Huttenhower_HC1,79329,79328,species
1,79329,3127,Chitinophaga pinensis,9127347,Huttenhower_LC1,79329,79328,species
2,1836,22195,Saccharopolyspora erythraea,8079083,Huttenhower_HC1,1836,1835,species
3,1836,125,Saccharopolyspora erythraea,8079083,Huttenhower_LC1,1836,1835,species
4,152480,20654,Burkholderia ambifaria,8095900,Huttenhower_HC1,152480,87882,species

### Everything has been simulated from "species" level

In [105]:
truth['rank'].unique()

array(['species'], dtype=object)

In [434]:
for dataset in ['HC1', 'HC2', 'LC1', 'LC2', 'LC3', 'LC4', 'LC5', 'LC6', 'LC7', 'LC8']:
    print('\n{}'.format(dataset))
    hc1 = truth[truth.dataset == 'Huttenhower_'+dataset]
    #print(hc1['counts'].sum())
    krakmap_out = '~/projects/pufferfish/build/'+dataset+'_species.out'
    avi_krakmap_file = '/mnt/scratch2/avi/meta-map/kraken/puff/fat_out/'+dataset+'_report.txt'
    krakmap = pd.read_csv(krakmap_out, sep="\t")
    #print(krakmap['count'].sum())
    krakmap = krakmap[krakmap['taxaId'] != 0]
    #print(krakmap['count'].sum())
    #print('fatal original count : {}'.format(len(krakmap['count'])))
    avi_krakmap = pd.read_csv(avi_krakmap_file, sep='\t')
    #print(avi_krakmap['Count'].sum())
    avi_krakmap = avi_krakmap[avi_krakmap['Feature'] != 0]
    #print(avi_krakmap['Count'].sum())
    #avi_krakmap = avi_krakmap[avi_krakmap['Feature'] != 0]
    #print('avi original count: {}'.format(len(avi_krakmap)))
    avi_krakmap = pd.merge(avi_krakmap, taxa_df, left_on='Feature', right_on='taxaId')
    #print('count after merging to get ranks (should be the same): {}'.format(len(avi_krakmap)))
    fatal_species = krakmap[krakmap.taxaRank == 'species']
    avi_species = avi_krakmap[avi_krakmap['rank'] == 'species']
    #print('fatal count of species : {}'.format(len(krakmap_species)))
    #print('avi count of species : {}'.format(len(avi_krakmap)))
    pythcppjoined = pd.merge(krakmap, avi_krakmap, left_on='taxaId', right_on='Feature', how='outer').fillna(0)
    print('Fatal vs Avi')
    print(spearmanr(pythcppjoined['count'], pythcppjoined['Count']))
    print('mard: {}'.format(mard(pythcppjoined, 'count', 'Count')))
    pythcppjoined['diff'] = pythcppjoined['count']-pythcppjoined['Count']
    print(pythcppjoined[pythcppjoined['diff'] != 0][['taxaId_x', 'Feature', 'taxaRank', 'rank', 'Count', 'diff']])
    #print('avi # of reads: {}'.format(avi_krakmap['Count'].sum()))
    #print('fatal # of reads: {}'.format(krakmap_species['count'].sum()))
    kraktruthjoined = pd.merge(hc1, fatal_species, left_on='taxid', right_on='taxaId', how='outer').fillna(0)
    print('FatalTruth')
    print(kraktruthjoined[['counts', 'count']].corr(method='spearman'))
    print('mard: {}'.format(mard(kraktruthjoined, 'counts', 'count')))
    #print('diff:')
    #kraktruthjoined['diff'] = kraktruthjoined['counts']-kraktruthjoined['count']
    #print(kraktruthjoined[['taxid','diff']])
    pythtruthjoined = pd.merge(hc1, avi_species, left_on='taxid', right_on='Feature', how='outer').fillna(0)
    print('AviTruth')
    print(pythtruthjoined[['counts', 'Count']].corr(method='spearman'))
    print('mard: {}'.format(mard(pythtruthjoined, 'counts', 'Count')))
    print(pythtruthjoined['counts']-pythtruthjoined['Count'])

HC1
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 9.852656441893663e-07
     taxaId_x  Feature       taxaRank           rank  Count  diff
199       339      339        species        species  10964     1
208      1396     1396        species        species   6268     1
239    111527   111527  species group  species group   5873    -1
260     28450    28450        species        species   2969     1
267    182640   182640        species        species  16667     1
FatalTruth
          counts     count
counts  1.000000  0.836454
count   0.836454  1.000000
mard: 0.6913114348184081
AviTruth
          counts     Count
counts  1.000000  0.836454
Count   0.836454  1.000000
mard: 0.6913123818230174
0       4751.0
1       4060.0
2       5214.0
3       3816.0
4       8920.0
5       3149.0
6       3344.0
7       3066.0
8       9523.0
9       2939.0
10      3005.0
11      2842.0
12     12239.0
13      2974.0
14      3235.0
15      3500.0
16      3121.0
17      2963.0
18     10919.0
19      2759.0
20      2837.0
21     14162.0
22      3413.0
23      2715.0
24      2762.0
25      2506.0
26      2510.0
27      2510.0
28      2481.0
29      2390.0
        ...
236       -2.0
237       -1.0
238       -8.0
239       -1.0
240       -1.0
241       -1.0
242       -1.0
243       -5.0
244       -1.0
245       -1.0
246       -1.0
247       -1.0
248       -1.0
249       -2.0
250       -1.0
251       -1.0
252       -4.0
253       -3.0
254       -5.0
255       -9.0
256       -4.0
257       -1.0
258       -9.0
259       -1.0
260       -1.0
261       -5.0
262       -1.0
263       -1.0
264       -1.0
265       -2.0
Length: 266, dtype: float64

HC2
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 8.109578653934357e-07
     taxaId_x  Feature taxaRank     rank  Count  diff
15        645      645  species  species  11602     1
164       543      543   family   family   7070    -1
234      1718     1718  species  species   7664     3
399     67825    67825  species  species  12245     1
FatalTruth
          counts     count
counts  1.000000  0.834336
count   0.834336  1.000000
mard: 0.7182558021375831
AviTruth
          counts     Count
counts  1.000000  0.834336
Count   0.834336  1.000000
mard: 0.7182567741469842
0       8559.0
1      13763.0
2       1203.0
3       2491.0
4       5653.0
5       5259.0
6       4447.0
7       4804.0
8       3643.0
9       3509.0
10      4076.0
11      3271.0
12      3571.0
13      3620.0
14      3403.0
15      3026.0
16      2982.0
17      3573.0
18      2918.0
19     13584.0
20      2864.0
21     12912.0
22      2934.0
23      2934.0
24      3043.0
25      2718.0
26      2670.0
27      2648.0
28      3196.0
29      2554.0
        ...
254       -1.0
255       -1.0
256       -1.0
257       -1.0
258       -3.0
259       -2.0
260       -2.0
261       -1.0
262       -3.0
263       -1.0
264       -3.0
265       -1.0
266       -1.0
267       -2.0
268       -2.0
269       -1.0
270       -1.0
271       -1.0
272       -2.0
273       -5.0
274       -5.0
275       -2.0
276       -7.0
277       -1.0
278       -4.0
279       -6.0
280       -1.0
281       -1.0
282       -1.0
283       -2.0
Length: 284, dtype: float64

LC1
Fatal vs Avi
SpearmanrResult(correlation=0.99999999999999989, pvalue=0.0)
mard: 2.8440148844362994e-07
    taxaId_x  Feature taxaRank     rank  Count  diff
78      1270     1270  species  species  16278     1
FatalTruth
         counts    count
counts  1.00000  0.74018
count   0.74018  1.00000
mard: 0.6656522271730764
AviTruth
         counts    Count
counts  1.00000  0.74018
Count   0.74018  1.00000
mard: 0.6656527419465809
0       602.0
1        18.0
2      3015.0
3       672.0
4       514.0
5       839.0
6       190.0
7       253.0
8      1907.0
9      1436.0
10      752.0
11     1154.0
12      336.0
13     5721.0
14    12845.0
15      742.0
16    14008.0
17      515.0
18     3852.0
19       61.0
20     2161.0
21      294.0
22      365.0
23       42.0
24    13871.0
25       -1.0
26       -1.0
27       -1.0
28       -1.0
29       -1.0
30       -1.0
31       -1.0
32       -1.0
33       -3.0
34       -1.0
35       -2.0
36      -11.0
37       -1.0
38       -2.0
39       -1.0
40   -11049.0
41       -1.0
42      -11.0
43       -1.0
44       -1.0
45       -1.0
46       -1.0
47       -1.0
48       -1.0
49       -1.0
50       -1.0
51       -1.0
52       -1.0
53       -2.0
54       -2.0
55       -1.0
56       -1.0
57       -3.0
58       -7.0
dtype: float64

LC2
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 0.0
Empty DataFrame
Columns: [taxaId_x, Feature, taxaRank, rank, Count, diff]
Index: []
FatalTruth
          counts     count
counts  1.000000  0.887078
count   0.887078  1.000000
mard: 0.6422944277191631
AviTruth
          counts     Count
counts  1.000000  0.887078
Count   0.887078  1.000000
mard: 0.6422944277191631
0       386.0
1      2215.0
2       936.0
3       345.0
4      2338.0
5       310.0
6      2606.0
7      1686.0
8     11802.0
9      3110.0
10    12058.0
11      892.0
12      630.0
13     2211.0
14      947.0
15      222.0
16      216.0
17      733.0
18      321.0
19      701.0
20      876.0
21       21.0
22     1468.0
23     1643.0
24      238.0
25       -4.0
26       -1.0
27       -1.0
28       -1.0
29       -3.0
30       -1.0
31       -1.0
32       -1.0
33       -1.0
34       -2.0
35       -1.0
36       -2.0
37       -1.0
38       -1.0
39       -1.0
40       -4.0
41       -1.0
42      -12.0
43       -1.0
44       -1.0
45       -2.0
46       -2.0
47       -1.0
48       -6.0
49       -1.0
50       -1.0
51       -7.0
52       -1.0
53      -11.0
54       -1.0
55       -1.0
56       -1.0
57       -1.0
dtype: float64

LC3
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 0.0
Empty DataFrame
Columns: [taxaId_x, Feature, taxaRank, rank, Count, diff]
Index: []
FatalTruth
          counts     count
counts  1.000000  0.823137
count   0.823137  1.000000
mard: 0.7279198513835469
AviTruth
          counts     Count
counts  1.000000  0.823137
Count   0.823137  1.000000
mard: 0.7279198513835469
0      1265.0
1       203.0
2        75.0
3      7208.0
4       953.0
5      1825.0
6      1822.0
7       295.0
8       160.0
9       794.0
10       61.0
11       81.0
12     1435.0
13      337.0
14    13388.0
15     1207.0
16      403.0
17        1.0
18      370.0
19    17573.0
20      295.0
21     1157.0
22      212.0
23        3.0
24      352.0
25       -1.0
26       -1.0
27       -1.0
28       -1.0
29       -1.0
       ...
46       -1.0
47       -1.0
48       -1.0
49       -1.0
50       -3.0
51       -1.0
52       -1.0
53       -4.0
54       -1.0
55       -1.0
56       -1.0
57       -2.0
58       -3.0
59       -1.0
60       -1.0
61       -1.0
62       -1.0
63       -3.0
64       -1.0
65       -1.0
66       -1.0
67       -1.0
68       -1.0
69       -1.0
70       -1.0
71       -2.0
72       -1.0
73       -1.0
74       -1.0
75       -1.0
Length: 76, dtype: float64

LC4
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 5.073844736291994e-07
    taxaId_x  Feature taxaRank     rank  Count  diff
65       339      339  species  species  11731     1
FatalTruth
          counts     count
counts  1.000000  0.871034
count   0.871034  1.000000
mard: 0.6235384633488942
AviTruth
          counts     Count
counts  1.000000  0.871034
Count   0.871034  1.000000
mard: 0.6235392716698539
0      1083.0
1       102.0
2      1854.0
3        92.0
4       135.0
5      3122.0
6        85.0
7        35.0
8       187.0
9     30574.0
10       88.0
11       71.0
12      128.0
13     5340.0
14       92.0
15      108.0
16       91.0
17       21.0
18      172.0
19      282.0
20      128.0
21      677.0
22     4903.0
23       51.0
24       26.0
25       -1.0
26       -2.0
27       -1.0
28       -1.0
29       -2.0
30       -2.0
31       -4.0
32       -2.0
33       -1.0
34       -1.0
35       -1.0
36       -1.0
37       -1.0
38       -1.0
39       -6.0
40       -1.0
41       -1.0
42       -1.0
43       -2.0
44       -1.0
45       -1.0
46       -1.0
47       -3.0
48       -1.0
49       -1.0
50       -1.0
51       -2.0
dtype: float64

LC5
Fatal vs Avi
SpearmanrResult(correlation=0.99999999999999978, pvalue=0.0)
mard: 0.0
Empty DataFrame
Columns: [taxaId_x, Feature, taxaRank, rank, Count, diff]
Index: []
FatalTruth
          counts     count
counts  1.000000  0.505476
count   0.505476  1.000000
mard: 0.833725561821183
AviTruth
          counts     Count
counts  1.000000  0.505476
Count   0.505476  1.000000
mard: 0.833725561821183
0       146.0
1     16284.0
2     29703.0
3      4725.0
4      4065.0
5     19517.0
6      9566.0
7      2204.0
8     11628.0
9      1521.0
10     2269.0
11     1895.0
12     1911.0
13      351.0
14      316.0
15      305.0
16     1342.0
17     1194.0
18      156.0
19      121.0
20       54.0
21       41.0
22       17.0
23       33.0
24       -1.0
25       -2.0
26      -20.0
27       -1.0
28       -1.0
29       -1.0
       ...
51      -12.0
52       -3.0
53       -1.0
54     -332.0
55       -1.0
56       -3.0
57       -1.0
58    -1508.0
59       -1.0
60       -1.0
61       -1.0
62       -1.0
63       -2.0
64       -2.0
65       -1.0
66       -1.0
67       -5.0
68       -4.0
69       -1.0
70    -8339.0
71       -7.0
72       -1.0
73       -1.0
74       -1.0
75       -4.0
76       -1.0
77       -2.0
78       -2.0
79       -6.0
80       -2.0
Length: 81, dtype: float64

LC6

Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 2.130444674104469e-05
     taxaId_x  Feature taxaRank     rank  Count  diff
61       1308     1308  species  species   4795    -1
103      1301     1301    genus    genus    207     1
FatalTruth
          counts     count
counts  1.000000  0.806756
count   0.806756  1.000000
mard: 0.7415521253714619
AviTruth
          counts     Count
counts  1.000000  0.806756
Count   0.806756  1.000000
mard: 0.7415508121458372
0      1475.0
1       115.0
2       327.0
3       211.0
4      5936.0
5     18612.0
6      5916.0
7      7881.0
8      3023.0
9      2364.0
10     2025.0
11     1527.0
12      859.0
13     4148.0
14      359.0
15      347.0
16     1630.0
17      294.0
18      175.0
19      116.0
20       57.0
21       49.0
22       30.0
23       14.0
24        1.0
25       -2.0
26       -1.0
27       -1.0
28     -417.0
29       -1.0
       ...
48       -2.0
49       -1.0
50       -1.0
51      -11.0
52       -2.0
53       -1.0
54       -1.0
55       -4.0
56       -3.0
57       -4.0
58       -1.0
59       -1.0
60       -1.0
61       -1.0
62       -1.0
63       -1.0
64       -1.0
65       -1.0
66       -1.0
67       -2.0
68       -1.0
69       -1.0
70       -1.0
71       -1.0
72       -1.0
73       -1.0
74       -1.0
75       -1.0
76       -1.0
77       -1.0
Length: 78, dtype: float64

LC7
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 2.5348997424455095e-06
    taxaId_x  Feature taxaRank     rank  Count  diff
5     269261   269261  species  species   9086     1
62      1639     1639  species  species   3271     1
FatalTruth
          counts     count
counts  1.000000  0.946101
count   0.946101  1.000000
mard: 0.5810430800522803
AviTruth
          counts     Count
counts  1.000000  0.946101
Count   0.946101  1.000000
mard: 0.5810476183727072
0       220.0
1     35160.0
2      2270.0
3      2054.0
4      1764.0
5      7200.0
6      1081.0
7       727.0
8       519.0
9       497.0
10      300.0
11      242.0
12      763.0
13      148.0
14      441.0
15      105.0
16       83.0
17       54.0
18       47.0
19       44.0
20       41.0
21       49.0
22      101.0
23       17.0
24        8.0
25       -1.0
26       -1.0
27       -1.0
28      -28.0
29       -1.0
30       -1.0
31       -1.0
32       -2.0
33       -1.0
34       -1.0
35       -1.0
36       -1.0
37       -1.0
38       -1.0
39       -1.0
40       -1.0
41       -1.0
42       -1.0
43       -6.0
44       -1.0
dtype: float64

LC8
Fatal vs Avi
SpearmanrResult(correlation=1.0, pvalue=0.0)
mard: 4.010666125921922e-08
    taxaId_x  Feature taxaRank     rank  Count  diff
14       408      408  species  species  93035     1
FatalTruth
          counts     count
counts  1.000000  0.705657
count   0.705657  1.000000
mard: 0.7766491033895683
AviTruth
          counts     Count
counts  1.000000  0.705657
Count   0.705657  1.000000
mard: 0.7766491681049041
0     23512.0
1       276.0
2      6953.0
3      3259.0
4     14703.0
5      2281.0
6      2129.0
7      2054.0
8      4326.0
9      2703.0
10      731.0
11      788.0
12     2787.0
13      582.0
14      614.0
15      234.0
16      245.0
17      887.0
18      173.0
19      136.0
20      126.0
21      291.0
22       69.0
23       27.0
24       16.0
25       -1.0
26       -1.0
27      -16.0
28       -1.0
29       -1.0
       ...
52       -1.0
53       -1.0
54       -1.0
55       -1.0
56       -1.0
57       -1.0
58       -4.0
59       -1.0
60       -1.0
61       -1.0
62       -1.0
63       -1.0
64       -1.0
65       -1.0
66       -1.0
67       -2.0
68       -1.0
69       -1.0
70       -1.0
71       -1.0
72       -3.0
73       -1.0
74       -1.0
75       -1.0
76       -2.0
77      -10.0
78       -1.0
79       -1.0
80       -1.0
81       -1.0
Length: 82, dtype: float64

In [433]:
for dataset in ['HC1', 'HC2', 'LC1', 'LC2', 'LC3', 'LC4', 'LC5', 'LC6', 'LC7', 'LC8']:
    print('\n{}'.format(dataset))
    hc1 = truth[truth.dataset == 'Huttenhower_'+dataset]
    #print(hc1['counts'].sum())
    krakmap_out = '~/projects/pufferfish/build/'+dataset+'_species.out'
    #avi_krakmap_file = '/mnt/scratch2/avi/meta-map/kraken/puff/fat_out/'+dataset+'_report.txt'
    avi_krakmap_file = '~/projects/pufferfish/build/'+dataset+'_species_20.out'
    krakmap = pd.read_csv(krakmap_out, sep="\t")
    #print(krakmap['count'].sum())
    krakmap = krakmap[krakmap['taxaId'] != 0]
    #print(krakmap['count'].sum())
    #print('fatal original count : {}'.format(len(krakmap['count'])))
    avi_krakmap = pd.read_csv(avi_krakmap_file, sep='\t')
    #print(avi_krakmap['Count'].sum())
    avi_krakmap = avi_krakmap[avi_krakmap['taxaId'] != 0]
    #print(avi_krakmap['Count'].sum())
    #avi_krakmap = avi_krakmap[avi_krakmap['Feature'] != 0]
    #print('avi original count: {}'.format(len(avi_krakmap)))
    avi_krakmap = pd.merge(avi_krakmap, taxa_df, left_on='taxaId', right_on='taxaId')
    #print('count after merging to get ranks (should be the same): {}'.format(len(avi_krakmap)))
    fatal_species = krakmap[krakmap.taxaRank == 'species']
    avi_species = avi_krakmap[avi_krakmap['rank'] == 'species']
    #print('fatal count of species : {}'.format(len(krakmap_species)))
    #print('avi count of species : {}'.format(len(avi_krakmap)))
    #pythcppjoined = pd.merge(krakmap, avi_krakmap, left_on='taxaId', right_on='taxaId', how='outer').fillna(0)
    #print('44 vs 20%')
    #print(spearmanr(pythcppjoined['count'], pythcppjoined['Count']))
    #print('mard: {}'.format(mard(pythcppjoined, 'count', 'Count')))
    #pythcppjoined['diff'] = pythcppjoined['count']-pythcppjoined['Count']
    #print(pythcppjoined[pythcppjoined['diff'] != 0][['taxaId_x', 'taxaId_y', 'taxaRank', 'rank', 'Count', 'diff']])
    #print('avi # of reads: {}'.format(avi_krakmap['Count'].sum()))
    #print('fatal # of reads: {}'.format(krakmap_species['count'].sum()))
    kraktruthjoined = pd.merge(hc1, fatal_species, left_on='taxid', right_on='taxaId', how='outer').fillna(0)
    print('44Truth')
    print(kraktruthjoined[['counts', 'count']].corr(method='spearman'))
    print('mard: {}'.format(mard(kraktruthjoined, 'counts', 'count')))
    #print('diff:')
    #kraktruthjoined['diff'] = kraktruthjoined['counts']-kraktruthjoined['count']
    #print(kraktruthjoined[['taxid','diff']])
    pythtruthjoined = pd.merge(hc1, avi_species, left_on='taxid', right_on='taxaId', how='outer').fillna(0)
    print('20%Truth')
    print(pythtruthjoined[['counts', 'count']].corr(method='spearman'))
    print('mard: {}'.format(mard(pythtruthjoined, 'counts', 'count')))
    #print(pythtruthjoined['counts']-pythtruthjoined['count'])

HC1
44Truth
          counts     count
counts  1.000000  0.836454
count   0.836454  1.000000
mard: 0.6913114348184081
20%Truth
         counts    count
counts  1.00000  0.69192
count   0.69192  1.00000
mard: 0.8200246790265406

HC2
44Truth
          counts     count
counts  1.000000  0.834336
count   0.834336  1.000000
mard: 0.7182558021375831
20%Truth
          counts     count
counts  1.000000  0.706365
count   0.706365  1.000000
mard: 0.8216358241663585

LC1
44Truth
         counts    count
counts  1.00000  0.74018
count   0.74018  1.00000
mard: 0.6656522271730764
20%Truth
          counts     count
counts  1.000000  0.685046
count   0.685046  1.000000
mard: 0.8263326547074592

LC2
44Truth
          counts     count
counts  1.000000  0.887078
count   0.887078  1.000000
mard: 0.6422944277191631
20%Truth
          counts     count
counts  1.000000  0.781866
count   0.781866  1.000000
mard: 0.7502277217589646

LC3
44Truth
          counts     count
counts  1.000000  0.823137
count   0.823137  1.000000
mard: 0.7279198513835469
20%Truth
          counts     count
counts  1.000000  0.650974
count   0.650974  1.000000
mard: 0.8658710593495687

LC4
44Truth
          counts     count
counts  1.000000  0.871034
count   0.871034  1.000000
mard: 0.6235384633488942
20%Truth
          counts     count
counts  1.000000  0.713133
count   0.713133  1.000000
mard: 0.8392641437710662

LC5
44Truth
          counts     count
counts  1.000000  0.505476
count   0.505476  1.000000
mard: 0.833725561821183
20%Truth
          counts     count
counts  1.000000  0.413965
count   0.413965  1.000000
mard: 0.9154949006158047

LC6
44Truth
          counts     count
counts  1.000000  0.806756
count   0.806756  1.000000
mard: 0.7415521253714619
20%Truth
          counts     count
counts  1.000000  0.706167
count   0.706167  1.000000
mard: 0.8544088341243679

LC7
44Truth
          counts     count
counts  1.000000  0.946101
count   0.946101  1.000000
mard: 0.5810430800522803
20%Truth
          counts     count
counts  1.000000  0.920832
count   0.920832  1.000000
mard: 0.726979043327715

LC8
44Truth
          counts     count
counts  1.000000  0.705657
count   0.705657  1.000000
mard: 0.7766491033895683
20%Truth
          counts     count
counts  1.000000  0.563712
count   0.563712  1.000000
mard: 0.8874881772175232

In [445]:
a = [100000, 10000, 1000, 100, 0.1]
b = [500, 50, 5, 0.5, 0.05]
c = [1000, 10000, 1000, 100, 0]
print(pearsonr(a, b))
print(pearsonr(a, c))

(0.99999999527852335, 3.8944903047651632e-13)
(-0.091071786386207679, 0.88420429165522318)